---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
const projects = [
  {
    title: "Windows98 Paint",
    tech: ["React", "Redux", "RTK", "Context"],
    desc: "UI inspired by windows 98, lets you draw and export drawings to share with others.",
    links: {
      github: "https://github.com/sushij",
      live: "https://paint.itzsushi.xyz",
    },
  },
  {
    title: "Snippets (WIP)",
    tech: ["Go"],
    desc: "Sign up and start saving snippets quickly and reliably to comeback to later.",
    links: { github: "https://github.com/sushij" },
  },
];
const comfortable = ["Javascript", "Typescript", "React", "Node", "Tailwind"];
const learn = ["Nextjs", "Vue", "Angular", "Go", "Elixir", "Java", "Docker"];
---

<BaseLayout title="Sushant Sharma | About">
  <main class="text-nightOwl-text lg:py-8 pt-4">
    <h1 class="text-2xl lg:text-4xl text-nightOwl-pink lg:mb-4">About Me</h1>
    <p class="py-2 text-xl">
      Hello! I'm Sushant, a software Engineer based in Bengaluru, IN. I enjoy
      creating beautiful things that live on the internet.
    </p>
    <p class="py-2 text-xl">
      Here are some technologies I'm fairly comfortable with:
    </p>
    <ul class="p-2 text-lg">
      {
        comfortable.map((c) => (
          <li class="list-inside">
            <span class="text-nightOwl-pink">&gt;</span>
            {c}
          </li>
        ))
      }
    </ul>
    <p class="pt-2 text-xl">Here are some things I'm familiar with:</p>
    <ul class="p-2 text-lg">
      {
        learn.map((c) => (
          <li class="list-inside">
            <span class="text-nightOwl-pink">&gt;</span>
            {c}
          </li>
        ))
      }
    </ul>
    <h1 class="text-2xl lg:text-4xl text-nightOwl-pink mt-4 lg:mt-12">
      Projects
      <span class="hidden lg:inline text-sm text-nightOwl-text pb-4">
        Check out my <a
          href="https://github.com/sushij"
          target="_blank"
          class="text-nightOwl-pink underline">github</a
        >
        for more
      </span>
    </h1>
    <section class="flex flex-wrap gap-3 py-6 justify-around">
      {
        projects.map((project) => (
          <Card
            title={project.title}
            tech={project.tech}
            desc={project.desc}
            links={project.links}
          />
        ))
      }
    </section>
    <p class="inline lg:hidden text-sm text-nightOwl-text pb-4">
      Check out my <a
        href="https://github.com/sushij"
        target="_blank"
        class="text-nightOwl-pink underline">github</a
      >
      for more
    </p>
  </main>
</BaseLayout>
