---
const tech = [
  "Typescript/Javascript",
  "React/Nextjs/remix/vue",
  "Redux/RTK",
  "Go/Java",
  "Elixir",
  "Docker/AWS",
  "Linux/Vim/Neovim",
  "Python/Django/Flask",
  "NoSql/Sql",
];

const projects = [
  {
    name: "Riot.ml",
    tags: ["open-source"],
    desc: "Re-designed and developed website for open-source Ocaml library, focusing on usability and responsiveness.",
    link: "https://riot.ml",
  },
  {
    name: "Identiek",
    tags: ["side project", "elixir", "egd"],
    desc: "Identicon generator written in Elixir, identicon is the display image that github defaults to, when you make a new account.",
    link: "https://github.com/sushij/identiek",
  },
  {
    name: "Win Paint",
    tags: ["side project", "typescript", "react", "vite", "rtk"],
    desc: "Paint application inspired by windows-98 paint, implements a subset of the features provided by the original.",
    link: "https://win98-paint.vercel.app",
  },
  {
    name: "Hop music",
    tags: ["side project", "typescript", "react", "vanila extract"],
    desc: "Lofi music player application.",
    link: "https://hop-music.vercel.app/",
  },
  {
    name: "Dashboard",
    tags: [
      "side project",
      "typescript",
      "react",
      "express",
      "rtk",
      "mongodb",
      "mui",
    ],
    desc: "Dashboard visualizer example for some e-com application.",
    link: "https://github.com/SushiJ/react-dash",
  },
  {
    name: "Shoppy",
    tags: [
      "side project",
      "typescript",
      "react",
      "fastify",
      "rtk",
      "mongodb",
      "paypal",
    ],
    desc: "An ecommerce store build with react, fastify and paypal for payment processing.",
    link: "https://github.com/SushiJ/ecom",
  },
  {
    name: "Hackervues",
    tags: ["side project", "vue", "tailwind"],
    desc: "Hackernews web client made with vue.",
    link: "https://hackervues.netlify.app/",
  },
  {
    name: "Vesper-nvim",
    tags: ["side project", "lua", "neovim"],
    desc: "colorscheme for neovim.",
    link: "https://github.com/sushij/vesper-nvim",
  },
];

import Badge from "../components/Badge.astro";
import Card from "./Card.astro";
---

<section class="mb-10 mt-24">
  <div class="mt-24">
    <h5 class="pb-6 text-xs font-bold italic text-pink-500/90">projects</h5>
    <ul class="grid grid-cols-2 gap-2">
      {
        projects.map((p) => (
          <Card name={p.name} link={p.link} tags={p.tags} desc={p.desc} />
        ))
      }
    </ul>
  </div>
  <div class="mt-24">
    <h5 class="pb-6 text-xs font-bold italic text-pink-500/90">tech</h5>
    <ul class="flex flex-wrap gap-1">
      {
        tech.map((t) => (
          <li>
            <Badge title={t} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
